:root {
  --primary-color: #e50914;
  --dark-color: #141414;
  --light-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
.container {
  margin: 0 5%;
}
.hidden {
  display: none !important;
}
.btn {
  color: #fff;
  background-color: var(--primary-color);
}
.p-10 {
  padding: 10px;
}
.rounded-5 {
  border-radius: 5px;
}
header {
  position: relative;
  height: 93vh;
  background: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: inset 120px 100px 250px, inset -120px -100px 250px;
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
header nav ul {
  display: flex;
  width: 40%;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}
header nav h1 {
  width: 55%;
  color: var(--primary-color);
  text-align: right;
  font-size: 5rem;
}
header .container {
  position: relative;
  z-index: 2;
}
.header-content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.3rem;
  align-items: center;
  color: var(--light-color);
}
.header-content h1 {
  font-size: 5.9rem;
}
.header-content p,
.header-content a {
  font-size: 1.5rem;
}
.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}
.right-arrow {
  margin-left: 10px;
  font-weight: bold;
  font-size: 2rem;
}
.tabs {
  background-color: var(--dark-color);
}
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
  height: fit-content;
}
.tab label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 2rem;
  padding: 3.5rem;
  cursor: pointer;
}
.tab input:checked + label {
  border-bottom: 3px solid var(--primary-color);
}
section[class^="tab-"] {
  border-top: 3px solid #3d3d3d;
  height: fit-content;
  gap: 20px;
  padding: 10px 0;
  background-color: black;
  color: var(--light-color);
}

section .tab-content {
  padding-top: 20px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: fit-content;
}
section.tab-one .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-tab-one {
  width: 70rem;
}
.img-tab-one img {
  width: 100%;
}
section.tab-one .tab-content p {
  font-size: 1.8rem;
}

.flex {
  display: flex;
  gap: 20px;
}
.flex-column {
  flex-direction: column;
}
.flex-start {
  align-self: flex-start;
}
.center {
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
.btn-l {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}
.margin-auto {
  margin: auto;
}
.text-l {
  font-size: 2rem;
}

.grid {
  display: grid;
  gap: 2rem;
}
.grid-cols-3 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.text-dark {
  color: #999;
}

/* Table */
.table {
  width: 100%;
  margin-top: 2rem;
  border-spacing: 0;
}

.table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}

.table tbody tr td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}

.table tbody tr td:first-child {
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background: #222;
}
.gap-5 {
  gap: 5rem;
}
/* Footer */
.footer {
  background-color: black;
  color: #999;
  padding: 8rem 0 2rem 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
}
.footer,
.footer a {
  color: #999;
  font-size: 0.9rem;
}
.footer ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

@media (max-width: 992px) {
  section.tab-one .container {
    flex-direction: column;
  }
  .img-tab-one {
    width: 20rem;
  }
  .img-tab-one img {
    width: 100%;
  }
  html {
    font-size: 10px;
  }
  .tabs label span {
    display: none;
  }
  .tab-two-content {
    flex-direction: column;
  }
  header {
    box-shadow: inset 52px 100px 150px, inset -52px -100px 150px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .tabs label {
    font-size: 1rem;
  }
}
